@model Product
<div class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">@Model.ProductName</h5>
    </div>
    <img src="@config["ApiUrl"]/images/@Model.ImageUrl" class="card-img-top" alt="@Model.ProductName">
    <div class="card-body p-3">
        <h4 class="card-subtitle mb-2 text-muted">Giá: <span class="text-red fw-bold">@Model.Price</span></h4>
        <p class="card-text">@Html.Raw(Model.Description)</p>
        <div class="row">
            <div class="col-6">
                <a href="#" class="btn btn-primary btn-lg w-100">Buy Now</a>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-secondary btn-lg w-100">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
